In [1]:
from bs4 import BeautifulSoup as soup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
url = 'https://redplanetscience.com/'

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\stefa\.wdm\drivers\chromedriver\win32\92.0.4515.107]

In [9]:
# soup = BeautifulSoup(response.text, 'html.parser')
# print(soup.prettify())

browser.visit(url)

In [28]:
browser.is_element_present_by_css('div.list_text', wait_time=1)
html = browser.html
news_soup = soup(html, 'html.parser')

In [27]:
latest_title = news_soup.find_all('div', class_='content_title')[0].text
latest_p = news_soup.find_all('div', class_='article_teaser_body')[0].text

In [35]:
url2 = 'https://spaceimages-mars.com'
browser.visit(url2)
html2 = browser.html

In [53]:
space_soup = soup(html2, 'html.parser')

featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [54]:
import pandas as pd

In [55]:
url3= 'https://galaxyfacts-mars.com'

In [64]:
galaxy_facts = pd.read_html(url3)
print(galaxy_facts)

[                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [73]:
galaxy_df = pd.DataFrame(galaxy_facts[0])

In [74]:
galaxy_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [80]:
galaxy_html = galaxy_df.to_html()

<class 'str'>